body {
    font-family: Arial, sans-serif;
    background-color: #5bb7c3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center; /* Centraliza o conteúdo no container */
    background-color: #85bdc7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%; /* Garante responsividade */
}

h1 {
    font-size: 24px;
    color: #2e2e2e;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    text-align: center; /* Centraliza o texto dos labels */
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input[type="text"], input[type="number"] {
    width: 80%; /* Ajusta o tamanho do input */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center; /* Centraliza o texto dentro do input */
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4d4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #666;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.result-red {
    background-color: rgba(122, 6, 6, 0.5);
    color: #fff;
    margin: 5px 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    text-align: center;
}

.result-green {
    background-color: rgba(2, 78, 25, 0.5);
    color: #fff;
    margin: 5px 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    text-align: center;
}

.result-yellow {
    background-color: rgba(255, 255, 0, 0.5);
    color: #000;
    margin: 5px 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    text-align: center;
}